@use "../foundation/variables" as v;


.is-hidden{
	display: none;
}

.is-active{
	display: block;
}

.inline-block{
	display: inline-block;
}

.active-sp{
	display: inline-block;
	@include v.mq(tb){
		display: none;
	}
}

.opacity0{
	opacity: 0;
	transition: .5s;
}
