@use "../foundation/variables" as v;

.u-text-pink{
color: v.$color-pink !important;
}
.u-text-green{
color: v.$color-green !important;
}

.u-bg-white{
	background-color: v.$color-white !important;
}
