@use "../foundation/variables" as v;

.l-footer {
  background-color: v.$color-black;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
	@include v.mq(pc){
		height: 223px;
	}
  &__text {
    color: v.$color-white;
		@include v.mq(pc){
			font-size: 4.0rem;
		}
  }
  &__back-to-top {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    @include v.mq(pc) {
      width: 80px;
    }
  }
}
