@use "../foundation/variables" as v;

.l-header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  @include v.mq(pc) {
    height: 100px;
  }
}

.l-header__logo__text {
  font-size: 1.4rem;
  letter-spacing: 0.25em;
  font-weight: bold;
  @include v.mq(pc) {
    font-size: 2.8rem;
  }
}

.l-header__cv-button {
  opacity: 0;
  // display: none;
  height: 36px;
  width: 49.6%;
  width: 186px;
  font-size: 1.2rem;
  @include v.mq(pc) {
    height: 60px;
    width: 300px;
    font-size: 1.8rem;
  }
}
