@use "../foundation/variables" as v;

.p-copy{
	margin-top: -20px;
	line-height: 1.1;
	&__main-copy{
		font-size: 5.6rem;
		font-weight: 700;
		font-style: italic;
		text-align: center;
		@include v.mq(pc){
			font-size: 10.8rem;
		}
	}
	&__sub-copy{
		font-size: 1.6rem;
		font-weight: 700;
		text-align: center;
		@include v.mq(pc){
			font-size: 3.2rem;
		}
	}
	&__body-copy{
		margin-top: 25px;
		font-family: 'Hiragino Sans';
		font-size:1.5rem;
		font-weight: 300;
		line-height: 1.8;
		@include v.mq(pc){
			font-size: 1.6rem;
			text-align: center;
		}
	}
}
