@use "../foundation/variables" as v;

.p-features {
  margin-top: 20px;
}

.p-features {
  &__article {
    @include v.mq(pc) {
      display: flex;
    }
  }
  &__article + li {
    margin-top: 42px;
		@include v.mq(pc){
			margin-top: 120px;
		}
  }
  &__image-wrapper {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    @include v.mq(pc) {
      flex: 1;
    }
  }
  &__text-block {
    position: relative;
    margin-top: -10px;
    background-color: v.$color-white;
    // transform: translateY(-15px);
    padding: 42px 10%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    @include v.mq(pc) {
      top: 60px;
      left: -60px;
      width: 555px;
      padding: 60px 5%;
      height: fit-content;
    }
  }
  &__article-tag {
    font-size: 1.8rem;
    @include v.mq(pc) {
      font-size: 2.4rem;
    }
  }
  &__article-title {
    font-size: 2.2rem;
    @include v.mq(pc) {
      font-size: 3.2rem;
      margin-top: 15px;
    }
  }
  &__article-desc {
    font-size: 1.4rem;
    @include v.mq(pc) {
      font-size: 1.6rem;
      line-height: 1.8;
    }
  }
}

.p-features__article--food {
  @include v.mq(pc) {
    flex-direction: row-reverse;
  }
	.p-features__text-block{
		@include v.mq(tb){
			top: 0;
			left: 0;
		}
		@include v.mq(pc){
			top: 90px;
			left: 40px;
		}
	}
}

.p-features__cv {
  margin-top: 40px;
  width: 80%;
  height: 53px;
  margin-right: auto;
  margin-left: auto;
	@include v.mq(pc){
		display: none;
	}
}
