@use "../foundation/variables" as v;


.bg-img{
	width: 73%;
  height: 410px;
	@include v.mq(pc){
		height: 680px;
	}
  margin-left: auto;
  border-bottom-left-radius: 50px;
  background-image: url(../assets/images/mv/bg_mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
	display: flex;
	align-items: center;
	opacity:0;
}
.p-mv__text-block{
	position: absolute;
	top: 161px;
	@include v.mq(tb){
		top: 120px;
	}
	@include v.mq(pc){
		top: 220px;
	}
	left: 0;
	margin-left: 5%;
}

.visible{
	transition:1s;
	opacity: 1;
}

.p-mv{
	&__title__row,&__sub-title{
		display: inline-block;
		background-color: v.$color-white;
	}
	&__title__row{
		position: relative;
		font-size: 4.2rem;
		@include v.mq(tb){
			font-size: 6.2rem;
		}
		@include v.mq(pc){
			font-size: 9rem;
		}
		font-style: italic;
		font-weight: 500;
		line-height: 1;
		span{
			margin-right: 4px;
		}
	}
	&__sub-title{
		font-size: 1.3rem;
		margin-top: 10px;
		font-weight: 700;
		@include v.mq(pc){
			font-size: 2.8rem;
		}
	}
	&__cv{
		margin-top: 19px;
		height: 45px;
		width: 100%;
		font-size: 1.3rem;
		@include v.mq(pc){
			font-size: 2.0rem;
			height: 89px;
			width: 370px;
		}
	}
}
