@use "../foundation/variables" as v;

.c-cv-button{
	background-color: v.$color-pink;
	border-radius: 999px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&__text{
		font-weight: 700;
		color: v.$color-white;
		line-height: 1;
	}
}
