@use "../foundation/variables" as v;

.c-container {
  width: 89.3%;
  margin-left: auto;
  margin-right: auto;
	padding-bottom: 40px;
	max-width: 700px;
}

section[class*="p-"]:nth-of-type(even):not(.p-copy) {
  background-color: v.$color-pink;
}

.c-section-title {
	padding-top: 40px;
	padding-bottom: 35px;
  &__text {
    font-size: 4rem;
		line-height: 1;
  }
  &-ja__text {
		margin-top: 5px;
    font-size: 1.4rem;
		line-height: 1;
  }
}
