@use "../foundation/variables" as v;

.c-separator{
	display: block;
	// height: 50px;
	width: 100%;
	padding-top: 6.6%;
	// background-color: v.$color-pink;
	background-image: url(../assets/images/gen/wave.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	transform: translateY(-1px) rotate(180deg);
	&:nth-of-type(even){
		transform: translateY(1px) rotate(0);
	}
}
